
body {
    background: #222423;
    background-image: url("imgs/ZenBG-1.png"), url("imgs/ZenBG-2.png");
    background-repeat: repeat-x, repeat;
}

.pad{
    height: 100%;
    position: absolute;
    align-items: center;

}

.form-group{


}


.btn{
    width: 100%;
    margin-top: 25px;
    border-color: transparent;
}


.btn-default{
    background: dimgrey;
    color: white;
    transition-property: box-shadow;
    transition-duration: 5s;
    transition-timing-function: linear;
    border-color: transparent;

}

.btn-default:hover{
    -webkit-box-shadow: 0px 0px 24px 0px rgba(218,165,32, 0.75);
    -moz-box-shadow:    0px 0px 24px 0px rgba(218,165,32, 0.75);
    box-shadow:         0px 0px 24px 0px rgba(218,165,32, 0.75);
    background: dimgrey;
    background-color: white;
    border-color: transparent;
}

.fonts{
    color: white;
}

.link{
    pointer-events: none;
    cursor: default;
    visibility: hidden;
}

hr.style-two {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(255, 215, 0, 1.0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    border-radius: 25%;
}
h1{
    font-family: 'Architects Daughter', cursive;
    color: gold;
}
h3{
    font-family: 'Architects Daughter', cursive;
    color: gold;

}




a:hover{
    color: white;
    text-decoration: none;
}

a:active{
    color: white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}

a:link{
    color:white;
    text-decoration: none;
}


ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin-left: 10px;
}

.pointer{
    cursor: pointer;
}
